<div md-theme="{{mdTheme}}">
    <div class="modal-header">
        <md-toolbar md-theme="{{mdTheme}}" class="md-accent">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="$dismiss()" aria-hidden="true">
                    <md-icon><i class="material-icons">close</i></md-icon>
                </md-button>
                <h4 class="modal-title">JoYb Card</h4>
            </div>
        </md-toolbar>
    </div>
    <div class="modal-body">
        <div layout="row" layout-padding layout-wrap flex>
            <div flex="50" ng-repeat="type in cardTypes">
                <md-checkbox ng-checked="exists(joybCard.type, type)" ng-click="toggle(type)">
                    {{ type }}
                </md-checkbox>
            </div>
        </div>
        <md-content layout="row" layout-align="space-between" class="md-padding" md-theme="docs-dark">
            <div flex>
                <md-input-container class="md-block">
                    <label>What</label>
                    <input ng-model="joybCard.title" placeholder="Title or Skill">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Where</label>
                    <input ng-model="joybCard.location" placeholder="Area or City">
                </md-input-container>
            </div>
            <div layout="column">
                <md-button class="md-raised md-primary" ng-click="addTags(joybCard.tags)">Tags</md-button>
                <md-button class="md-raised md-primary" ng-click="addFiles(joybCard.files)">Show off!</md-button>
                <md-button class="md-raised md-primary" ng-click="addRange(joybCard.payRange)">Range</md-button>
            </div>
        </md-content>

    </div>
    <div class="modal-footer">
        <md-button class="md-raised" ng-class="styles.buttons.cancel.class" ng-click="$dismiss()">Cancel</md-button>
        <md-button class="md-raised" ng-class="styles.buttons.confirm.class" ng-click="$close(joybCard)">Save changes</md-button>
    </div>
</div>